[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/changdongvan
[access "refs/for/refs/*"]
	read = group user/changdongvan
	push = group user/changdongvan
	label-Code-Review = -2..+2 group user/changdongvan
	label-Verified = -1..+1 group user/changdongvan
	rebase = group user/changdongvan
	removeReviewer = group user/changdongvan
	submit = group user/changdongvan
[access "refs/heads/*"]
	read = group user/changdongvan
	create = group user/changdongvan
	push = +force group user/changdongvan
	pushMerge = group user/changdongvan
[access "refs/tags/*"]
	push = group user/changdongvan
	push = +force group user/changdongvan
